/* Image style */
#scrollUp {
    background-image: url("../imagens/top.png");
    background-repeat: no-repeat;
    bottom: 20px;
    right: 20px;
    width: 38px;    /* Width of image */
    height: 38px;   /* Height of image */
}
